<div class="card mb-4">
  <div class="card-body">
    <h1 class="card-title mb-4">All Athletes</h1>

    <div class="table-responsive">
      <table class="table table-bordered align-middle" border = 1 >
        <thead class="table-light">
          <tr>
            <th>Photo</th>
            <th>Name</th>
            <th>Sport</th>
            <th>College</th>
            <th>Location</th>
            <th>Year</th>
            <th>Instagram Followers</th>
            <th>TikTok Followers</th>
          </tr>
        </thead>
        <tbody>
          <% @list_of_athletes.each do |an_athlete| %>
            <tr>
              <td>
                <img
                  src="<%= an_athlete.photo %>"
                  alt="<%= an_athlete.name %>"
                  class="img-fluid"
                  style="max-width:100px;"
                >
              </td>
              <td>
                <a href="/athletes/<%= an_athlete.id %>">
                  <%= an_athlete.name %>
                </a>
              </td>
              <td><%= an_athlete.primary_sport %></td>
              <td><%= an_athlete.current_college %></td>
              <td><%= an_athlete.location %></td>
              <td><%= an_athlete.year %></td>
              <td><%= an_athlete.insta_follower_count %></td>
              <td><%= an_athlete.tik_tok_impres_avg %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
