<div>
  <div>
    <h1>
      <%= @the_athlete.name %> Information
    </h1>

    <div>
      <div>
        <a href="/athletes">
          Go back
        </a>
      </div>

    <dl>
      <dd>
        <img src="<%= @the_athlete.photo %>" style="width:250px;">
      </dd>

      <dt>
        Name:
      </dt>
      <dd>
        <%= @the_athlete.name %>
      </dd>

      <dt>
        Primary Sport:
      </dt>
      <dd>
        <%= @the_athlete.primary_sport %>
      </dd>

      <dt>
        College:
      </dt>
      <dd>
        <%= @the_athlete.current_college %>
      </dd>
      <dd>
        <a href="<%= @the_athlete.college_profile_url %>">
          College Profile
        </a>
      </dd>

      <dt>
        Location:
      </dt>
      <dd>
        <%= @the_athlete.location %>
      </dd>

      <dt>
        Year:
      </dt>
      <dd>
        <%= @the_athlete.year %>
      </dd>

      <dt>
       <a href="<%= @the_athlete.insta_url %>">
          Instagram Profile 
       </a>
      </dt>

      <dd>
      Followers: 
        <%= @the_athlete.insta_follower_count %>
      </dd>

      <dt>
        <a href="<%= @the_athlete.tik_tok_url %>">
          Tik Tok Profile
        </a>
      </dt>

      <dd>
       Followers:
        <%= @the_athlete.tik_tok_impres_avg %>
      </dd>

      <dt>
        Biography:
      </dt>
      <dd>
        <%= @the_athlete.bio %>
      </dd>

      <dt>
        Interests:
      </dt>
      <dd>
        <%= @the_athlete.interests %>
      </dd>

    <dt>
        Previous College:
    </dt>
    <dd>
        <%= @the_athlete.previous_college %>
    </dd>

    </dl>
  </div>
</div>

<hr>
      <% if current_user.admin? || @the_athlete.user_id == current_user.id %>
       <div>
       <a href="/edit_athlete/<%= @the_athlete.id %>">Edit profile</a>
       </div>
       <div>
         <a href="/delete_athlete/<%= @the_athlete.id %>">Delete profile</a>
      </div>
      <% end %>
