<nav>
  <a href ="/users/sign_up?user_type=athlete">Sign up as Athlete</a>
  <a href ="/users/sign_up?user_type=brand">Sign up as Brand</a>
</nav>

<!DOCTYPE html>
<a href="/">
Return to Homepage
</a>


<html>
  <head>
    <title>Rails Template</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
