<html>
  <head>
    <title>Rails Template</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
     <nav>
      <% if user_signed_in? %>
        <a href="/users/sign_out">Sign out</a>
        <a href="/">Return to Homepage</a>
      <% else %>
        <a href="/users/sign_in">Log in</a>
        <a href="/users/sign_up?user_type=athlete">Sign up as Athlete</a>
        <a href="/users/sign_up?user_type=brand">Sign up as Brand</a>
      <% end %>
    </nav>

    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
